.expand-transition {
  transition-duration: 0ms;
  transition-timing-function: ease-in-out;
  transition-property: max-height;
  overflow: hidden;
}

.image-preview {
  max-height: 9rem;
}

.image-preview--expanded {
  max-height: 100%;
}